;; Copyright (c) Alan Dipert and Micha Niskin. All rights reserved.
;; The use and distribution terms for this software are covered by the
;; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php)
;; which can be found in the file epl-v10.html at the root of this distribution.
;; By using this software in any fashion, you are agreeing to be bound by
;; the terms of this license.
;; You must not remove this notice, or any other, from this software.

{:project       bootstrap-test
 :version       "1.0.0-SNAPSHOT"
 :url           "https://github.com/tailrecursion/bootstrap-test"
 :description   "Hoplon UI kit for Twitter Bootstrap."
 :license       {:name "Eclipse Public License"
                 :url "http://www.eclipse.org/legal/epl-v10.html"}
 :dependencies  [[tailrecursion/boot.core   "1.0.0"]
                 [tailrecursion/boot.task   "1.0.0"]
                 [tailrecursion/hoplon      "4.0.6"]
                 [org.clojure/clojurescript "0.0-1934"]]
 :require-tasks #{[tailrecursion.boot.core.task :refer :all]
                  [tailrecursion.boot.task :refer :all]
                  [tailrecursion.hoplon.boot :refer :all]}
 :uberjar-exclusions [#"^cljs/" #"^tailrecursion/boot/task/util/cljs" #".*\.SF$"]
 :src-paths     #{"src"}
 :src-static    #{"resources/assets"}
 :public        "resources/public"
 :tasks         {:development
                 {:doc "Build app for dev work."
                  :main [:hoplon {:prerender     false
                                  :optimizations :whitespace
                                  :pretty-print  true}]}
                 :production
                 {:doc "Build app for production."
                  :main [:hoplon {:optimizations :advanced}]}}}
