;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[hoplon/hoplon "7.3.2"]
                [clj-tagsoup/clj-tagsoup "0.3.0"]
                [markdown-clj/markdown-clj "1.11.4"]
                [binaryage/devtools "1.0.6"]]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn hoplon-home.page/init}}
                :devtools {:before-load hoplon-home.page/stop
                           :after-load hoplon-home.page/start}}}}
