@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(github.css);

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

a.topfix {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}
